@model List<Dominus.Web.Models.DeckModel>

@{
    ViewData["Title"] = "Decks";
}

<div class="row">
  <p>Decks are here! The decks available are: </p>
    <ul>
     @foreach(var deck in @Model)
    {
      <li>@deck.Name</li>
    }
    </ul>
</div>
