@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <p>Content goes here</p>
    </div>
    <div class="col-md-3">
        <p>another content here</p>
    </div>
    <div class="col-md-3">
        <p>More content here</p>
    </div>
    <div class="col-md-3">
        <p>Some content here.</p>
    </div>
</div>
